/* Font Imports */
@font-face {
    font-family: 'Astralaga';
    src: url('Assets/Fonts/astralaga-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MediaSans';
    src: url('Assets/Fonts/mediasans-regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF-Compact-Display';
    src: url('Assets/Fonts/SF-Compact-Display-Thin.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF-Compact-Display';
    src: url('Assets/Fonts/SF-Compact-Display-Ultralight.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF-Compact';
    src: url('Assets/Fonts/SF-Compact.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*{
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

::selection {
    background-color: #ffb7b7;
    color: #000;
}

body {
    font-family: 'SF-Compact-Display', sans-serif;
    background-color: #121212;
    color: #cccccc;
    letter-spacing: 0.5px;
    padding-top: 0; /* Removed extra padding */
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Astralaga', sans-serif;
    color: #cccccc;
    letter-spacing: 1px;
}


/* NavBar Styles */

.top-logo h1 {
    font-family: 'MediaSans', sans-serif;
    font-size: 1.8rem;
    color: #f0f0f0;
    font-weight: 300;
    letter-spacing: 2px;
}

.top-logo p{
    font-family: 'SF-Compact-Display', sans-serif;
    font-size: 0.8rem;
    color: #cccccc;
    font-weight: 200;
    opacity: 0.5;
    letter-spacing: 1px;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;
    transform: none; /* Ensure no zoom effect */
}

nav ul {
    list-style: none;
    text-align: right;
    transform: translateY(20px);
}

nav ul li {

    padding-top: 5px;
}

nav ul a {
    text-decoration: none;
    color: #b6b6b6;
    font-family: 'SF-Compact-Display', sans-serif;
    font-weight: 100;
    font-size: 14px; /* Fixed font size */
    letter-spacing: 0px;
    transform: none; /* Ensure no zoom effect */
}


/* Updated social icons to float in a column layout */
.social-icons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: fixed;
    bottom: 20px; /* Positioned at the bottom */
    left: 20px; /* Positioned at the left */
}

.social-icons img {
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease;
    
}

/* Home*/

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;       /* or any unit like px, em, rem, %, vw */
  height: 100vh;      /* 100% of the viewport height */
    text-align: center;
}